{% extends "base.html" %}

{% block content %}
  <h1>Hello Repl.it</h1>
 
  <form action="/Amount of rainfall/" method="post">
    <label for="Amount of rainfall">Amount of rainfall: </label>
    <!-- <input id="Amount of rainfall" type="text" name="Amount of rainfall" value="{{ current_Amount }}">
     -->
<select name="measurements"</select>

<option value="mm">mm</option>
<option value="Time">time</option>
<option value="Date">date</option><br>
<br>
    
      <input type="submit" value="submit">


</form>
  

{% endblock content %}